@font-face {
  font-family: 'iconfont';
  /* project id 1040003 */
  src: url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.eot');
  src: url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.woff') format('woff'),
    url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1040003_fxn2qv9llkh.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}

.icon-home:before {
  content: "\e63b";
}
.icon-user:before {
  content: "\e61e"
}
.icon-tisheng:before {
  content: "\e60d"
}
.icon-menuicon:before {
  content: "\e63c"
}
.icon-play:before {
  content: "\e6a5"
}
.icon-triangle-right:before {
  content: "\e70f"
}
.icon-triangle-left:before {
  content: "\e710"
}
.icon-moon:before {
  content: "\e662"
}
.icon-id:before {
  content: "\e67b"
}
.icon-user:before {
  content: "\e625"
}
.icon-car:before {
  content: "\e66c"
}
.icon-vip:before {
  content: "\e610"
}
.icon-task:before {
  content: "\e616"
}
.icon-service:before {
  content: "\e605"
}
.icon-comment:before {
  content: "\e626"
}
.icon-achievement:before {
  content: "\e637"
}
.icon-team:before {
  content: "\e6b4"
}
.icon-honor:before {
  content: "\e629"
}
.icon-card-insure:before {
  content: "\e6b5";
}
.icon-tuijian:before {
  content: "\e657";
}
.icon-wancheng:before {
  content: "\e698"
}
.icon-jinxingzhong:before {
  content: "\e696";
}
